:root{
    --cor-texto: white;
}
body{
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;

    
}
a{
    text-decoration: none;
    color: var(--cor-texto);

    border-bottom: 2px solid var(--cor-texto);
    border-radius: 3px;

}


a:hover{
    color: aquamarine;
    border-bottom: 2px solid aquamarine;
}
.deletar{
    background-color: red;
    color: white;
    border-style: none;
    transition: 0.3;
}
.deletar:hover{
    border-style: none;
    color: white;
    transform: scale(1.05);
}
